@font-face {
	font-family: Ampersand;
	src: 	local('Baskerville-Italic'),
			local('Palatino-Italic'),
			local('BookAntiqua-Italic'),
			local('GoudyOldStyleT-Italic');
	unicode-range:U+26;
}
body {
	font-family: Ampersand, 'Open Sans', sans-serif;
}
a {
	color: currentColor;
	text-decoration: none;
	padding: 0 1rem;
}
a:hover {
	background-color: rgb(145, 145, 179);
}
h1 {
	font-size: 3em;
}
article p , footer a{
	font-size: 1.3em;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
img {
	width: 100%;
}
nav li {
	background: rgb(128, 128, 128);
	border:0.1rem solid rgba(0,0,0,0.5);
}
svg {
	width: 1.5em;
	height: 1.5em;
}

header {
	background-color: rgb(233, 235, 217);
}
header,nav > ul, nav li>a, footer > ul , main{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header,nav > ul ,footer > ul, main{
	flex-wrap: wrap;
}
header nav li {
	margin: 0.2rem;
}
header figure {

}
#profile-img {
	width: 5.3em;
}

main, footer {
	margin: auto;
}

article {
	max-width: 40em;
	margin: 0.5rem;
	background-color: rgb(233, 235, 217);
}
article > *{
	padding: 0.5rem;
}

footer {
	max-width: 40em;
}
footer nav li {
	padding: 0.1rem;
	margin: 0.1rem;
}
footer address {
	width: 10em;
    margin: auto;
}
footer > ul a {
	margin: 0.5rem;
}

@media (max-width: 600px) {
	html {
		font-size: 12px; 
	}
}